extends layout

block content

    .ui.two.column.grid
        .column
            canvas(id='game', width='640', height='380')
                | Text that you see if you don't support Canvas :(

        .column
            .ui.stacked.segment
                .ui.header Quiz

                .ui.form
                    .field
                        .ui.huge.message#question Question

                    .field
                        .ui.massive.input
                            input#answer(type='text', placeholder='answer')

                    .ui.submit.button Submit


                .div#timer
