extends layout

block content

    .ui.two.column.grid
        .column
            canvas(id='game', width='640', height='380')
                | Text that you see if you don't support Canvas :(

        .column
            .ui.segment Quiz
                .ui.form
                    .ui.label#question Question
                    input.ui.input#answer(placeholder='answer')

                    .ui.submit.button Submit
