doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/vendor/semantic.min.css')
    body
        block content

        block footer
            script(type='text/javascript', src='/javascripts/vendor/jquery.min.js')
            script(type='text/javascript', src='/javascripts/vendor/semantics.js')
            script(type='text/javascript', src='/javascripts/vendor/Box2dWeb-2.1.a.3.js')
            script(type='text/javascript', src='/javascripts/vendor/boxbox.js')
            script(type='text/javascript', src='/javascripts/script.js')

